<div id="page">
  <div id="wrapper" class="d-flex">

    <!-- =========================================
    Header Section
    ========================================== -->
    <header class="navbar navbar-expand navbar-dark bg-dark vh-100">
      <div class="side-logo d-flex justify-content-between">
        <a class="navbar-brand" href="#"><img src="../../assets/images/logo.svg" alt="logo"></a>
        <button class="navbar-close d-md-none" type="button">
          <em class="icon icon-close"></em>
        </button>
      </div>
      <div class="nav-scroller d-flex flex-column">
        <nav id="nav">
          <ul class="navbar-nav">
            <li class="nav-item active current">
              <a class="nav-link" href="#"><span class="navlink-icon"><em class="icon icon-house"></em></span>PÁGINA PRINCIPAL</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link" href="javascript:void(0);">
                <span class="navlink-icon"><em class="icon icon-distribution"></em></span>CUOTA DISTRIBUIDOR
                <span class="nav-caret"><em class="icon icon-caret-down"></em></span>
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item active current" href="#"><span class="dropitem-icon">D</span> DISTRIBUIDOR 1</a>
                <a class="dropdown-item" href="#"><span class="dropitem-icon">D</span> DISTRIBUIDOR 2</a>
                <a class="dropdown-item" href="#"><span class="dropitem-icon">D</span> DISTRIBUIDOR 3</a>
                <a class="dropdown-item" href="#"><span class="dropitem-icon">D</span> DISTRIBUIDOR 4</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><span class="navlink-icon"><em class="icon icon-route"></em></span>RUTERO</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><span class="navlink-icon"><em class="icon icon-settings"></em></span>ADMINISTRADOR</a>
            </li>
            <li class="nav-item notific-nav">
              <a class="nav-link" href="javascript:void(0);"><span class="navlink-icon"><em class="icon icon-bell"><span></span></em></span>NOTIFICACIONES</a>
            </li>
          </ul>
        </nav>
        <div class="sign-off d-flex mt-auto">
          <div class="user-img">D</div>
          <div class="user-name">
            <span class="d-block">Diageo</span>
            <a (click)="logout()">Cerrar sesión</a>
          </div>
        </div>
      </div>
    </header>
    <button onclick="hola();">sd</button>
  </div>
</div>


