<section class="login-sec">
    <div class="container-login100">
        <div class="login-desk">
            <div class="desk-panel">
                <h3><strong>Bienvenido</strong> a el portal</h3>
                <div class="logo">
                    <img src="../../assets/images/login-logo.png" alt="Diaego" />
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed ornare diam, nec porttitor felis.</p>
            </div>

        </div>
        <div class="login">
            <div class="login-panel">
                <div class="login-head">
                    <h3><strong>Recuperar</strong> contraseña</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

                    <small *ngIf="respuesta == 'missmatch'" class="text-danger">
                      Las contraseñas no coinciden
                    </small>
                </div>

                <form (ngSubmit)="setPassword()">
                    <div class="form-group">
                        <input style="-webkit-text-security: disc !important;" [(ngModel)]="password1" type="text" placeholder="Contraseña Nueva" [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="form-group">
                        <input style="-webkit-text-security: disc !important;" [(ngModel)]="password2" type="text" placeholder="Confirmar contraseña" [ngModelOptions]="{standalone: true}">
                    </div>

                    <div class="form-group text-right">
                        <button>Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>