<section class="login-sec">
    <div class="container-login100">
        <div class="login-desk">
            <div class="desk-panel">
                <h3><strong>Bienvenido</strong> a el portal</h3>
                <div class="logo"><img src="../../assets/images/login-logo.png" alt="Diaego"></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed ornare diam, nec porttitor felis.</p>
            </div>
        </div>
        <div class="login">
            <form (ngSubmit)="login()" [formGroup]="loginForm" novalidate>
                <div class="login-panel">
                    <div class="login-head">
                        <h3>Login</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                    <small [hidden]="validlogin != 'no'" class="text-danger">
                      Usuario y/o contraseña incorrectos
                    </small>
                    <small class="text-success">
                      {{ at }}
                    </small>
                    <br>
                    <div class="form-group">
                        <input type="text" class="form-control" formControlName="username" autocomplete="username" [placeholder]="'Username'" />
                        <small [hidden]="loginForm.controls.username.valid || loginForm.controls.username.untouched" class="text-danger">
                Username is required
              </small>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" formControlName="password" autocomplete="current-password" [placeholder]="'Password'" required />
                        <small [hidden]="loginForm.controls.password.valid || loginForm.controls.password.untouched" class="text-danger">
                Password is required
              </small>
                    </div>
                    <div class="fp-link fp-space"><a mat-button routerLink="/forgot-password" href="javascript:void(0)">Olvide la contraseña</a></div>

                    <div class="form-group text-right">
                        <button class="btn btn-primary w-100" type="submit" [disabled]="loginForm.invalid || isLoading">
                <i class="fas fa-cog fa-spin" [hidden]="!isLoading"></i>
                <span>Login</span>
              </button>
                    </div>
                </div>
                <div class="login-footer">
                    <ul>
                        <li>Perfil General</li>
                        <li>Director</li>
                        <li>Analista</li>
                        <li>Supervisor</li>
                        <li>Vendedor</li>
                    </ul>
                </div>
            </form>
        </div>
    </div>
</section>