a,
button,
.btn,
.notific-nav:after,
.balance-nav:after,
.search-wrap,
.bootstrap-datetimepicker-widget table td span,
.check-yr-list .custom-checkbox{
	-webkit-transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-o-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;
}

.navbar,
.notific-bar,
.balance-bar{
	-webkit-transition:left 0.3s ease-in-out;
	-moz-transition:left 0.3s ease-in-out;
	-o-transition:left 0.3s ease-in-out;
	transition:left 0.3s ease-in-out;
}

.admin-modal{
	-webkit-transition:right 0.3s ease-in-out;
	-moz-transition:right 0.3s ease-in-out;
	-o-transition:right 0.3s ease-in-out;
	transition:right 0.3s ease-in-out;
}

.disti-prog-block .progress-bar{
	transition: all 2s ease;
}

.cocktail,
.dropitem-icon,
.navlink-icon .icon-bell span,
.user-img,
.year-chart li:before,
.year-chart span:before,
.btn-download,
.admin-user-image,
.metstatus:after{
	-webkit-border-radius: 100%;
	border-radius: 100%;
}

.login-media .media-left,
.dist-chart-section .dchart-right,
.disti-prog-block .progress-bar{
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.dchart-left{
	-webkit-border-radius: 0 4px 4px 0;
	border-radius: 0 4px 4px 0;
}

.dist-chart-section .dchart-left,
.card-title.bootstrap-select > .dropdown-toggle{
	-webkit-border-radius: 0;
	border-radius: 0;
}

.btn-search,
div.dataTables_wrapper div.dataTables_length select,
.goto-control,
.search-inp,
.live-search .form-control{
	-webkit-border-radius: 16px;
	border-radius: 16px;
}

.navbar-nav .nav-item.show .nav-caret .icon,
.show.bootstrap-select > .dropdown-toggle:before,
.form-control.month-picker.show:before{
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}

.tool-actionbar .btn,
.bootstrap-select .dropdown-menu,
.btn-download,
.btn-search,
.search-wrap{
	-webkit-box-shadow: 0 0 16px rgba(152, 167, 178, 0.16);
	box-shadow: 0 0 16px rgba(152, 167, 178, 0.16);
}

.card,
.DTFC_LeftHeadWrapper,
.DTFC_LeftBodyWrapper{
	-webkit-box-shadow: 0 0 20px rgba(99, 103, 106, 0.06);
	box-shadow: 0 0 20px rgba(99, 103, 106, 0.06);
}

.notific-bar,
.balance-bar{
	-webkit-box-shadow: 0 0 20px rgba(99, 103, 106, 0.18);
	box-shadow: 0 0 20px rgba(99, 103, 106, 0.18);
}

.table-overlay{
	-webkit-box-shadow: 0 0 12px rgba(99, 103, 106, 0.05);
	box-shadow: 0 0 12px rgba(99, 103, 106, 0.05);
}

.table-sidebar{
	-webkit-box-shadow: 0 0 43px rgba(99, 103, 106, 0.18);
	box-shadow: 0 0 43px rgba(99, 103, 106, 0.18);
}

.notifi-close,
.balance-close,
.user-admin-wrap .icon,
.close-ts{
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.login-media .media-left,
.user-img,
.year-chart .first:before,
.year-chart .curr-yr:before{
	background: #fdd449;
	background: -moz-linear-gradient(45deg, #fdd449 0%, #cb004d 77%);
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#fdd449), color-stop(77%,#cb004d));
	background: -webkit-linear-gradient(45deg, #fdd449 0%,#cb004d 77%);
	background: -o-linear-gradient(45deg, #fdd449 0%,#cb004d 77%);
	background: -ms-linear-gradient(45deg, #fdd449 0%,#cb004d 77%);
	background: linear-gradient(45deg, #fdd449 0%,#cb004d 77%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdd449', endColorstr='#cb004d',GradientType=1 );
}

.dchart-right{
	background: #cb004d;
	background: -moz-linear-gradient(-45deg, #cb004d 53%, #fdd449 100%);
	background: -webkit-gradient(linear, left top, right bottom, color-stop(53%,#cb004d), color-stop(100%,#fdd449));
	background: -webkit-linear-gradient(-45deg, #cb004d 53%,#fdd449 100%);
	background: -o-linear-gradient(-45deg, #cb004d 53%,#fdd449 100%);
	background: -ms-linear-gradient(-45deg, #cb004d 53%,#fdd449 100%);
	background: linear-gradient(135deg, #cb004d 53%,#fdd449 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb004d', endColorstr='#fdd449',GradientType=1 );
}

.progress-bar{
	background: #fdd449;
	background: -moz-linear-gradient(-45deg, #fdd449 0%, #cb004d 100%);
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#fdd449), color-stop(100%,#cb004d));
	background: -webkit-linear-gradient(-45deg, #fdd449 0%,#cb004d 100%);
	background: -o-linear-gradient(-45deg, #fdd449 0%,#cb004d 100%);
	background: -ms-linear-gradient(-45deg, #fdd449 0%,#cb004d 100%);
	background: linear-gradient(135deg, #fdd449 0%,#cb004d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdd449', endColorstr='#cb004d',GradientType=1 );
}

.btn-info{
	background: #cb004d;
background: -moz-linear-gradient(-45deg, #cb004d 0%, #fdd449 100%);
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#cb004d), color-stop(100%,#fdd449));
background: -webkit-linear-gradient(-45deg, #cb004d 0%,#fdd449 100%);
background: -o-linear-gradient(-45deg, #cb004d 0%,#fdd449 100%);
background: -ms-linear-gradient(-45deg, #cb004d 0%,#fdd449 100%);
background: linear-gradient(135deg, #cb004d 0%,#fdd449 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb004d', endColorstr='#fdd449',GradientType=1 );
}

@media (max-width: 1199px) {
	.dchart-left{
		-webkit-border-radius: 0 0 4px 4px;
		border-radius: 0 0 4px 4px;
	}
}

@media (max-width: 1199px) {
	.login-btn .btn{
		-webkit-border-radius: 50px;
		border-radius: 50px;
	}
	.login-media .btn{
		-webkit-border-radius: 40px;
		border-radius: 40px;
	}
}