
/* Common Fonts Start
-------------------------------------------------- */

body {font-family: 'Helvetica Neue';}

.login-form p{font-family: 'Helvetica';}

.title-tool .back-to-main{font-family: 'Open Sans', sans-serif;}
.disti-chart-line span,
.disti-chart-label{font-family: 'Raleway', sans-serif;}

/* Common Fonts End
-------------------------------------------------- */

/* Body and General Styles Start
-------------------------------------------------- */

h3 span,
.h3 span,
h4 span,
.h4 span{font-weight: 300;}

:focus{outline: none !important;}

#wrapper{margin-left: 255px;}
.opacity-50{opacity: 0.5;}
.opacity-60{opacity: 0.6;}
.opacity-70{opacity: 0.7;}
.opacity-80{opacity: 0.8;}

h6.small{font-weight: 700;}

/* Body and General Styles End
-------------------------------------------------- */

/* login Start
-------------------------------------------------- */

.login-left{background-repeat: no-repeat;background-position: center center;background-size: cover;}
.login-content{color: #fff;max-width: 370px;margin-bottom: 21.875vh;margin-left: 10.102489019033674vw;}
.login-content h3{margin-bottom: 8px;}
.login-logo{margin-bottom: 36px;display: inline-block;}
.login-logo img{width: 227px;}

.login-form{max-width: 350px;margin-left: 8.199121522693996vw;padding-top: 27.083333333333336vh;}
.login-form h3{font-weight: 500;margin-bottom: 11px;}
.login-form p{opacity: 0.6;}
.login-form form{margin-top: 44px;}
.forgot-pass{margin-bottom: 29px;margin-top: -10px;}
.forgot-pass a{text-decoration: underline;font-size: 12px;letter-spacing: 0.24px;}
.login-btn{padding-top: 15px;}

.login-right{position: relative;}
.login-links{margin-bottom: 70px;margin-top: 20px;position: absolute;bottom: 0;left: 0;right: 0;}
.login-links li+li{border-left: 1px solid #E6E6E6;}
.login-links a{color: #343442;opacity: 0.24;display: block;padding: 0 20px;}
.login-links a:hover,
.login-links a:focus{opacity: 1;text-decoration: none;}

.modal-body .close{opacity: 1;color: #fff;font-size: 16px;position: absolute;top: -33px;right: 0;}
.login-media .media-left{color: #fff;margin-top: -5px;margin-bottom: -5px;}
.login-info{width: 207px;padding-top: 31px;padding-bottom: 36px;}
.cocktail{width: 70px;height: 70px;min-width: 70px; line-height: 70px;background-color: rgba(255,255,255,0.2);text-align: center;margin-bottom: 14px;}
.login-info h4{padding-left: 34px;padding-right: 34px;font-weight: 500;margin-bottom: 0;}
.login-media .media-body{padding: 60px 32px 15px;}
.login-media h6{font-weight: 500;margin-bottom: 10px;}
.login-media p{opacity: 0.6;margin-bottom: 27px;}
.login-media .btn{text-transform: none;}

/* login End
-------------------------------------------------- */

/* Header Start
-------------------------------------------------- */

.navbar{width: 252px;min-width: 252px;position: fixed;top: 0;bottom: 0;left: 0;z-index: 111111;}
.side-logo{padding: 19px 30px; border-bottom: 1px solid rgba(255,255,255,0.09);}

.navbar-nav{padding-top: 6px;}
.navbar-nav .nav-item{margin-bottom: 6px;}
.navbar-nav .nav-link{font-size: 12px;line-height: 15px;letter-spacing: 0.72px; font-weight: 500;text-transform: uppercase;position: relative;}
.navbar-expand .navbar-nav .nav-link{padding: 19px 20px 20px 65px;}
.navbar-nav .current .nav-link{background-color: #3C3C4C;}
.navbar-nav .current .nav-link:after{content: "";position: absolute;left: 0;top: 0;bottom: 0;width: 10px;background-color: #CB004D;}
.navlink-icon{width: 28px;height: 28px;text-align: center;line-height: 28px;position: absolute;left: 25px;top: 50%;margin-top: -14px;}
.navlink-icon .icon{font-size: 21px;display: inline-block;vertical-align: middle;}
.navlink-icon .icon-distribution{font-size: 29px;}
.navlink-icon .icon-bell{position: relative;}
.navlink-icon .icon-bell span{position: absolute;top: 4px;right: 1px; width: 7px;height: 7px;background-color: #F56969;border: 1px solid #343442;}
.nav-caret{position: absolute;right: 20px;top: 50%;font-size: 8px;margin-top: -3px;height: 6px;line-height: 6px;}
.nav-caret .icon{height: 6px;display: inline-block;vertical-align: middle;}
.navbar-nav .dropdown-toggle::after{display: none;}
.navbar-nav .dropdown-menu{position: relative;top: 0;background-color: transparent;padding-top: 3px;padding-bottom: 3px; border-bottom: 1px solid rgba(255,255,255,0.05);border-top: 1px solid rgba(255,255,255,0.05);}
.navbar-nav .dropdown-item{position: relative; padding: 19px 20px 20px 100px; color: rgba(255,255,255,0.5);font-size: 12px;line-height: 15px;letter-spacing: 0.72px; font-weight: 500;text-transform: uppercase;}
.navbar-nav .dropdown-item:hover, 
.navbar-nav .dropdown-item:focus{background-color: transparent;color: #fff;}
.navbar-nav .dropdown-item.active, 
.navbar-nav .dropdown-item:active{background-color: #3C3C4C;color: #fff;}
.navbar-nav .dropdown-item.current:after{content: "";position: absolute;left: 0;top: 0;bottom: 0;width: 10px;background-color: #CB004D;}
.dropitem-icon{width: 26px;height: 26px;line-height: 26px;background-color: rgba(255,255,255,0.15);font-weight: 700;text-align: center; position: absolute;left: 61px;top: 50%;margin-top: -13px;}

.nav-scroller{height: calc(100vh - 69px);/*overflow: auto;*/}

.sign-off{background-color: #3C3C4C;color: #fff;padding: 15px 20px 15px 33px;}
.user-img{width: 36px;height: 36px;line-height: 36px;text-align: center; font-weight: 700;font-size: 20px;}
.user-name{padding-left: 12px;}
.user-name span{font-weight: 700;letter-spacing: 0.28px;line-height: 17px;}
.user-name a{color: rgba(255,255,255,0.5);font-size: 12px;letter-spacing: 0.24px;line-height: 14px;display: inline-block;vertical-align: middle;}

.navbar-close{background-color: transparent;border: none;padding: 0;font-size: 20px;color: #fff;}

.notific-nav{position: relative;}
.notific-nav:after{content: "";position: absolute;right: 0;top: 0; border-top: 27px solid transparent;border-bottom: 27px solid transparent; border-left: 14px solid #3C3C4C;z-index: 99;opacity: 0;}
.notific-open .notific-nav a{background-color: #3C3C4C;}
.notific-open .notific-nav:after{right: -14px;opacity: 1;}

.notific-bar{background-color: #fff;position: fixed;left: -440px;top: 0;height: 100vh; width: 440px;z-index: 11111;}
.notific-open .notific-bar{left: 252px;}
.notific-head{padding: 22px 40px 0 33px;background-color: rgba(224,224,224,0.2);position: relative;min-height: 55px;}
.notific-head .small{letter-spacing: 1.2px;font-weight: 700;}
.notific-head h5{letter-spacing: 1.44px;}
.notifi-close{position: absolute;right: 18px;top: 50%; cursor: pointer; font-size: 18px; }
.notific-body{padding: 15px 33px 15px 33px;height: calc(100vh - 55px);overflow: auto;}
.notif-block{padding-bottom: 16px;}
.notif-block h6{opacity: 0.8;line-height: 16px;margin-bottom: 11px;font-weight: 700;}
.notif-wrap{font-size: 12px;line-height: 16px;}
.notif-wrap p{opacity: 0.8;margin-bottom: 6px;}
.notif-wrap span{opacity: 0.5;}
.notif-wrap+.notif-wrap{margin-top: 23px;}
.notif-block+.notif-block{border-top: 1px solid rgba(82,81,106,0.1);padding-top: 15px;}

.balance-nav{position: relative;}
.balance-nav:after{content: "";position: absolute;right: 0;top: 0; border-top: 27px solid transparent;border-bottom: 27px solid transparent; border-left: 14px solid #3C3C4C;z-index: 99;opacity: 0;}
.balance-open .balance-nav a{background-color: #3C3C4C;}
.balance-open .balance-nav:after{right: -14px;opacity: 1;}
.balance-close{position: absolute;right: 18px;top: 50%; cursor: pointer; font-size: 18px; }
.balance-bar{background-color: #fff;position: fixed; left: -690px;top: 0;height: 100vh; width: 690px;z-index: 11;}
.balance-open .balance-bar{left: 252px;}
.balance-head{padding: 22px 40px 0 33px;background-color: rgba(224,224,224,0.2);position: relative;min-height: 55px;}
.balance-head .small{letter-spacing: 1.2px;font-weight: 700;}
.balance-head h5{letter-spacing: 1.44px;}
.balance-body{height: calc(100vh - 55px);overflow: auto;}

.balance-top{padding: 25px 64px 41px 33px;}
.balance-top p{margin-bottom: 24px;}
.balance-upload{background-color: #F5F5F5;border: 1px dashed #C0CBDE;padding: 15px 36px 20px;}
.balance-upload .media-left .icon{font-size: 27px;}
.balance-upload .media-body{padding-left: 36px;}
.balance-upload .media-body h6{margin-bottom: 4px;letter-spacing: 0;}
.upload-outer input{position: absolute;left: 0;top: 0;bottom: 0;width: 100%;height: 100%;opacity: 0;}
.balance-top .upload-outer{margin-left: 15px;}
.balance-top .btn{padding-left: 15px;padding-right: 15px;margin-left: 25px;font-weight: 700;}

.balance-bottom{border-top: 1px solid rgba(82,81,106,0.1);padding: 21px 65px 20px 51px;}
.balance-prev-head{margin-bottom: 12px;}
.balance-prev-head h6{letter-spacing: 1.2px;}
.balance-prev-head .btn+.btn{margin-left: 20px;font-size: 13px;}
.ultima{font-size: 10px;}

.check-td{width: 35px;}
.more-td{width: 102px;}

a.prev-more{color: #57B6FC;}
a.prev-more:hover,
a.prev-more:focus{text-decoration: none;}
a.prev-more span{text-decoration: underline;}
a.prev-more em{margin-left: 6px;font-size: 8px;}

.last-update-table .divider{border-top: 1px solid rgba(82,81,106,0.1) !important;}

/* Header End
-------------------------------------------------- */

/* Content Start
-------------------------------------------------- */

.content-wrapper{padding: 36px 64px 30px 21px;background-color: rgba(240,245,250,0.3);min-height: 100vh;}
.title-tool{padding-bottom: 34px;}
.title-tool h5{letter-spacing: 1.44px;text-transform: uppercase;}
.title-tool .back-to-main{color: #868686;font-weight: 600;text-decoration: none;}
.white-select .btn-light,
.white-select .btn-light:not(:disabled):not(.disabled):active, 
.white-select .btn-light:not(:disabled):not(.disabled).active, 
.white-select.show > .btn-light.dropdown-toggle{background-color: #fff;color: #343442;}
.white-select .btn{letter-spacing: 1.2px;font-weight: 700;color: #343442;text-transform: uppercase;}
.tool-actionbar > li+li{margin-left: 25px;}
.btn-download{background-color: #fff;width: 32px;height: 32px;}
.btn-search{background-color: #fff;width: 43px;height: 32px;line-height: 32px;text-align: center;cursor: pointer;font-size: 12px;}
.btn-download:hover,
.btn-download:focus{background-color: #CB004D;color: #fff;}
/*.btn-search:hover,
.btn-search:focus{background-color: #CB004D;color: #fff;}*/
.tab-search{min-width: 43px;height: 32px;position: relative;}
.tab-search .btn-search{position: absolute;left: 0;top: 0;}
.search-open .btn-search{display: none;}
.card-head{margin-bottom: 20px;}
.search-wrap{position: relative;width: 0;overflow: hidden;}
.search-open .search-wrap{width: 198px;}
.search-inp{background-color: #fff;border: none;height: 32px;width: 100%; padding: 2px 62px 2px 10px;font-size: 12px;}
.search-wrap button{background: transparent;position: absolute;right: 45px;top: 8px;font-size: 12px;}
.close-search{border-left: 1px solid rgba(96,96,96,0.1);height: 21px;line-height: 21px; position: absolute;right: 12px;top: 5px;font-size: 10px;cursor: pointer;opacity: 0.50;width: 20px;text-align: right;}

.distribute-section{overflow: hidden;}
.dchart-left{min-height: 225px;min-width: 348px; padding: 20px 22px;background-color: #fff;position: relative;}
.chart-img img{margin-left: -20px;}
.chart-img .progress{height: 14px;}
.chart-detail{padding-left: 20px;}
.chart-label{font-size: 12px;letter-spacing: 1.2px;line-height: 15px;font-weight: 700;margin-bottom: 15px;}
.chart-label span{opacity: 0.5;font-weight: normal;}
.chart-eu .big{font-size: 58px;font-weight: 500;letter-spacing: -1.16px;line-height: 50px;}
.chart-eu .eus{font-size: 12px;letter-spacing: 0.48px;line-height: 16px;opacity: 0.8;padding-left: 11px;}

.disti-chart-outer{margin-left: 44px;position: relative;height: 134px;}
.disti-chart-prog{position: relative;z-index: 1;overflow-y: hidden;overflow-x:auto;}
.disti-prog-block{position: relative;padding: 0 11px;height: 134px;padding-bottom: 24px;}
.disti-prog-block+.disti-prog-block{margin-left: 19px;}
.disti-chart-label{font-weight: 500;font-size: 12px; letter-spacing: 0.12px;margin-top: 6px;display: block;white-space: nowrap;}
.disti-prog-block .progress{background-color: transparent;height: 100%;width: 8px;margin-left: auto;margin-right: auto;display: block;position: relative;}
.disti-prog-block .progress-bar{width: 100%;background: rgba(255,255,255,0.45);position: absolute;bottom: 0;left: 0;right: 0;height: 0;}
.disti-prog-block .active .progress-bar{background: #fff;}
.disti-chart-prog .mCSB_container{display: -ms-flexbox !important;display: flex !important;height: 100%;margin-bottom: 30px;}
.disti-chart-prog .mCustomScrollBox{height: auto;}

.disti-chart-line{position: absolute;left: 0;right: 0;top: 0;bottom: 24px;}
.disti-chart-line>div{position: relative; border-top: 2px dashed rgba(255,255,255,0.12);}
.disti-chart-line span{font-weight: 600; position: absolute;top: -10px;left: -44px; font-size: 12px;opacity: 0.5;white-space: nowrap;width: 36px;text-align: right;}

.dchart-right{margin-left: -10px;padding: 18px 42px 25px 41px;color: #fff;width: calc(100% - 330px);}
.dchart-right .card-head{margin-bottom: 36px;}

.dept-left{min-width: 210px;width: 18%;}
.dept-right{padding-left: 36px;position: relative;padding-right: 50px;padding-bottom: 38px;}
.dept-right:before{content: "";position: absolute;left: 0;top: 0;bottom: 40px;width: 1px; background-color: rgba(82,81,106,0.1);}
.dept-chart-outer{margin-left: 144px;position: relative;min-height: 162px;}
.dept-chart-prog{position: relative;z-index: 1;}
.dept-prog-block{position: relative;}
.dept-chart-label{position: absolute;left: -144px;top: 0;opacity: 0.8;font-weight: 300;letter-spacing: 0.28px;}
.dept-prog-block .progress{background-color: transparent;}
.dept-chart-prog .dept-prog-block+.dept-prog-block{margin-top: 15px;}

.dept-chart-line{position: absolute;left: 0;right: 0;top: 0;height: 100%;}
.dept-chart-line>div{position: relative; border-left: 2px dashed rgba(129,129,129,0.1);}
.dept-chart-line span{position: absolute;bottom: -30px;left: -6px; font-size: 12px;opacity: 0.4;white-space: nowrap;}

.battle-section .card-head{margin-bottom: 42px;}
.battle-section .card-body{padding-bottom: 40px;}
.battle-label{opacity: 0.8;min-width: 145px;}
.battle-percnt{opacity: 0.6;min-width: 111px;}
.battle-percnt .curr-perc{font-weight: 500;padding-right: 10px;}
.battle-percnt .tot-perc{padding-left: 10px;}
.battle-block+.battle-block{margin-top: 35px;}
.marcas-section .battle-label{min-width: 100px;}

.multi-year .btn{font-weight: normal;}
.year-chart{margin-bottom: 0;}
.year-chart li,
.year-chart span{position: relative;font-size: 12px;}
.year-chart li:before,
.year-chart span:before{content: "";position: absolute;left: 0;top: 6px;width: 6px;height: 6px;}
.year-chart .first,
.year-chart .curr-yr{font-weight: 500;padding-left: 10px;}
.year-chart .second,
.year-chart .oth-yr{padding-left: 20px;margin-left: 10px;}
.year-chart .second:after,
.year-chart .oth-yr:after{content: "";position: absolute;left: 0;top: 4px;background-color: rgba(52,52,66,0.8);width: 1px;height: 12px;}
.year-chart .second:before,
.year-chart .oth-yr:before{background-color: #3FD6EA;left: 11px;}

.check-yr-list .custom-control{padding-left: 0;}
.check-yr-list .custom-control-label{padding:10px 18px 10px 44px;font-size: 12px;display: block;}
.check-yr-list .custom-checkbox:hover{color: #343442;background-color: #F4F4F6;}
.check-yr-list .custom-control-label::before,
.check-yr-list .custom-control-label::after{left: 18px;top: 11px;}
.multi-year .dropdown-menu{width: 140px;min-width: 1px;}
.multi-year.bootstrap-select{width: auto !important;}

.dist-chart-section .dchart-left{min-width: auto;}
.dist-chart-section .dchart-right{margin-left: 0;padding: 8px 8px 10px 24px;position: relative;}
.dist-chart-section .chart-eu .big{font-size: 55px;letter-spacing: 0;}
.state-scroll{ height: 207px;overflow: auto;}
.state-inner{padding: 34px 0 0 15px;}
.state-block{margin-bottom: 28px;}
.state-block .state-name{font-size: 10px;line-height: 12px;}
.state-block .media-left span{width: 35px;display: block;}
.state-block .media-body{padding-left: 6px;}

.state-inner-lg .state-block .media-left span{width: 78px;}
.state-inner-lg .state-block .media-body{padding-left: 33px;}

.meta-block.card{margin-bottom: 12px;}
.meta-block .card-body{padding: 7px 17px;min-height: 106px;}
.meta-block .white-select .btn{padding-left: 0;padding-top: 0;padding-bottom: 0;}
.meta-block .bootstrap-select{margin-bottom: 3px;}
.meta-block .premium{line-height: 14px;letter-spacing: 0.12px;}
.meta-block .media{margin-top: 10px;}
.meta-block .media-left .meta-chart{width: 41px;}
.meta-block .media-body{padding-left: 12px;}
.meta-block .chart-eu .big{font-size: 40px;line-height: 38px;}

.vend-distribut{padding-top: 18px;}
.main-heading h6{letter-spacing: 1.6px;font-weight: normal;text-transform: uppercase;margin-bottom: 8px;}
.vend-toolbar .white-select .btn{font-weight: normal;text-transform: none;}

.user-admin-card .card-header .btn{text-transform: none;color: rgba(255,255,255,0.91);}

.user-admin-wrap .media{padding-top: 12px;padding-bottom: 12px;cursor: pointer;}
.user-admin-wrap .media+.media{border-top: 1px solid rgba(82,81,106,0.05);}
.admin-user-image{width: 42px;height: 42px;overflow: hidden;}
.admin-user-image img{width: 100%;height: 100%;}
.user-admin-wrap .media-body{padding-left: 21px;position: relative;}
.user-admin-wrap h6{font-weight: 500;margin-bottom: 5px;margin-top: 5px;}
.user-admin-wrap .icon{position: absolute;right: 0;top: 50%;}

.admin-modal-outer{display: none; position: fixed;left: 0;top: 0;right: 0;bottom: 0;z-index: 999;}
.admin-modal-overlay{position: absolute;left: 0;top: 0;right: 0;bottom: 0; background-color: rgba(71,70,93,0.8);z-index: 1;}
.admin-modal{width: 704px;right: -704px; top: 0; background-color: #fff;position: absolute;z-index: 11;}
.admin-modal-open .admin-modal{right: 0;}
.admodal-header{padding: 18px 37px 18px 33px;}
.admodal-header h6{letter-spacing: 1.4px;margin-bottom: 6px;}
.admodal-header .btn{font-weight: 700;}

.admin-modal .nav-tabs{border-bottom: 1px solid rgba(112,112,112,0.1);}
.admin-modal .nav-tabs .nav-link{padding: 12px 34px;letter-spacing: 0.96px;}
.modal-tab-content{padding: 22px 51px;}
.modal-tab-content .tab-pane{max-height: calc(100vh - 182px); overflow-y: auto; overflow-x:hidden; }
.modal-tab-content h6{letter-spacing: 1.2px;}
.admin-tab-block{margin-bottom: 22px;}
.admin-tab-block .custom-control{margin-top: 13px;display: inline-block;width: 100%;}
.admin-tab-block .custom-control p{margin-bottom: 10px;}

#input-load .media-left h6{letter-spacing: 1.2px;}
#input-load .media-body{-ms-flex: none;flex: none;padding-right: 30px;}
.admin-modal-outer .upload-outer{padding-left: 15px;padding-right: 25px;}
#admin-modal-2 .admodal-header{padding-bottom: 42px;}
#admin-modal-2 .admodal-header p{margin-bottom: 24px;}
#admin-modal-2 .balance-bottom{max-height: calc(100vh - 234px); overflow-y: auto; overflow-x:hidden; }

.vend-distribut .tab-content{background-color: #fff;}
.act-label,
.cuot-text{min-width: 46px;}
.cuot-text .big{min-width: 20px;margin-right: 4px;}
.table .small{line-height: 18px;}

.vendor-table{width: 100% !important;}
.DTFC_LeftBodyWrapper,
.DTFC_LeftHeadWrapper{background-color: #fff;z-index: 9999;padding-left: 15px;}
.check-th{width: 35px !important;padding-right: 0 !important;}
.vendor-table th:first-child{padding-left: 0 !important;}
.vendor-table td:first-child{padding-left: 0 !important;}
.DTFC_LeftBodyLiner{font-weight: 500;}
.DTFC_LeftBodyLiner .custom-control,
.DTFC_LeftHeadWrapper .custom-control{padding-left: 0;width: 35px;}
.DTFC_LeftBodyLiner .custom-control-label,
.DTFC_LeftHeadWrapper .custom-control-label{width: 16px;height: 16px;}
.DTFC_LeftBodyLiner .custom-control-label::before,
.DTFC_LeftHeadWrapper .custom-control-label::before{left: 0;}
.DTFC_LeftBodyLiner .custom-control-label::after,
.DTFC_LeftHeadWrapper .custom-control-label::after{left: 0;}
.DTFC_LeftBodyLiner .custom-control-input,
.DTFC_LeftHeadWrapper .custom-control-input{left: 0;}

.table thead th.check-th,
.table thead th.sorting_asc,
.table thead th.sorting_desc{opacity: 1;}
.paginate_button{display: none;}
.previous.paginate_button,
.next.paginate_button{display: block;}
.pagination .previous a,
.pagination .next a{background-color: transparent !important; border-radius: 0 !important; color: transparent !important;width: 33px;padding: 0;height: 29px;line-height: 29px;text-align: center; border: none;border-left: 1px solid rgba(112,112,112,0.1);}
.previous a:before,
.next a:before{
    font-family: "diageo" !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #343442;
    position: relative;
    left: 10px;
    top: 3px;
}

.previous a:before{content: "\62";}
.next a:before{content: "\63";}

.table-toolbar{background-color: rgba(67,66,93,0.08);font-size: 10px;line-height: 16px;}
.table-toolbar > div{margin-left: 10px;}
.goto-control{border: none;height: 18px;padding: 2px 6px;background-color: #fff;width: 27px;margin-left: 6px;}
.DTFC_RightBodyLiner{overflow: auto !important;}
.srt-bg{ background-color: rgba(87, 182, 252, 0.05);}
.metstatus{letter-spacing: 1.2px;padding-left: 14px;position: relative;margin-left: 23px;}
.metstatus:after{content: ""; background-color: #04C97F;width: 7px;height: 7px;position: absolute;left: 0;top: 5px;}

.dir-overlay{position: absolute;left: 0;bottom: 0;right: 0; font-size: 12px;letter-spacing: 0.6px; padding: 23px 20px; background-color: rgba(255,255,255,0.08);}
.dir-overlay p{margin-bottom: 0;}
.cuota-chart .card-title{font-size: 16px;letter-spacing: 0.8px;margin-bottom: 10px;}

.marc-td{width: 60%;}
.must-td{width: 80%;}

.table-popup{display: none; z-index: 9999;position: absolute;left: 0;top: 0;right: 0;bottom: 29px;}
.ts-open.table-popup{display: block;}
.ts-overlay{position: absolute;left: 0;top: 0;right: 0;bottom: 0; background-color: rgba(255,255,255,0.8);}
.table-sidebar{width: 400px;position: absolute;right: 0;top: 0;background-color: #fff;overflow: auto;}
.ts-header{padding: 26px 50px 26px 29px;letter-spacing: 1.2px;line-height: 20px;position: relative;text-transform: uppercase;}
.close-ts{position: absolute;right: 38px;top: 50%;cursor: pointer;}
.ts-body{border-top: 1px solid rgba(96,96,96,0.1);border-bottom: 1px solid rgba(96,96,96,0.1);}

.form-control.month-picker input{text-align: left !important;width: 190px;}

.road-wrap{background-color: #fff;max-width: 481px;}
.road-wrap .card-body{padding: 35px 98px 23px 86px;}
.road-wrap .form-group{margin-bottom: 12px;}
.road-wrap .form-group.live-search{margin-bottom: 27px;}
.live-search{position: relative;}
.live-search .form-control{font-size: 12px; padding-left: 19px;padding-right: 40px; height: 32px;border: 1px solid rgba(52, 52, 66, 0.07);background-color: #F9F9FA;}
.live-search .search-btn{position: absolute; top: 8px;right: 19px; background-color: transparent;}

.sml-dir{position: relative;padding-top: 5px;margin-top: 5px;}
.sml-dir strong{font-weight: 500;}
.sml-dir:before{content: "";position: absolute;left: 0;top: 0; width: 21px;height: 1px;background-color: rgba(60, 60, 76, 0.3);}
.cuota-chart .card-title.bootstrap-select{margin-bottom: 8px;}
.card-title.bootstrap-select > .dropdown-toggle{font-size: inherit;letter-spacing: inherit;color: #fff;font-weight: 700;padding-left: 0;padding-top: 4px;padding-bottom: 4px; border-bottom: 1px solid #fff;background-color: transparent !important;}
.card-title .btn-light:not(:disabled):not(.disabled):active, 
.card-title .btn-light:not(:disabled):not(.disabled).active, 
.card-title.show > .btn-light.dropdown-toggle{color: #fff;}

.notif-head{display: none;}

/* Content End
-------------------------------------------------- */

/* Responsive Style Start 
-------------------------------------------------- */

@media (min-width: 768px) {
.dept-prog-block{height: 20px;}
}

@media (min-width: 992px) {
    .cuota-chart .dchart-left,
    .cuota-chart .dchart-right{width: 50%;}
}

@media (min-width: 1200px) {

}
@media (min-width: 1200px) and (max-width: 1450px) {
    .cuota-chart .dchart-left{width: 60%;}
    .cuota-chart .dchart-right{width: 40%;}
}
@media (min-width: 1200px) and (max-width: 1367px) {
    .dist-chart-section .chart-eu .big{font-size: 40px;line-height: 40px;}
    .dist-chart-section .chart-detail{padding-left: 10px;}
    .dist-chart-section .dchart-right{padding-left: 8px;}
    .state-block .state-name{word-break: break-all;}
}

@media (max-width: 1199px) {
.content-wrapper{padding-left: 20px;padding-right: 20px;}
.dchart-right{margin-left: 0;margin-top: -18px;padding: 40px 20px 25px;}
.dept-right{padding-left: 20px;padding-right: 20px;}

}

@media (max-width: 991px) {
.dept-left{width: 100%;padding-bottom: 20px;}
.dept-right{padding-left: 0;padding-top: 20px;}
.dept-right::before{height: 1px;width: 100%;top: 0;bottom: auto;}

.login-content{margin-left: 6vw;}
.login-form{margin-left: 3vw;}

.dist-chart-section .dchart-right{padding: 0;}
.dist-chart-section .dchart-right .card-head{padding-left: 15px;padding-right: 15px;}
.dir-overlay{position: relative;}
}

@media (max-width: 767px) {
    #wrapper{margin-left: 0;}
    .content-wrapper{padding: 15px;}
    .toggle-button{margin-bottom: 10px;}
    .chart-img{margin-bottom: 20px;}
    .chart-detail{padding-left: 0;}
    .dept-chart-outer{margin-left: 0;}
    .dept-chart-label{position: relative;left: 0;font-size: 12px;letter-spacing: 0.24px;}
    .dept-chart-line span{font-size: 10px;bottom: -20px;}
    .card-body{padding-left: 15px;padding-right: 15px;}
    .card-title{margin-bottom: 15px;}
    .dept-right{padding-bottom: 25px;}
    .dchart-right{padding-left: 15px;padding-right: 15px;}
    .dchart-left{min-width: 10px;padding: 20px 15px;}
    .battle-section .card-head{margin-bottom: 15px;}
    .battle-label{margin-bottom: 2px;}
    .battle-percnt{margin-top: 2px;font-size: 12px;}
    .battle-block + .battle-block{margin-top: 20px;}

    .login-left{height: 204px !important;background-image: url(../images/login-image-mob.jpg) !important;}
    .login-content{margin-bottom: 63px;max-width: 100%;margin-left: 0;padding: 0 20px;text-align: center;}
    .login-content h3,
    .login-content p{display: none;}
    .login-logo{margin-bottom: 0;}
    .login-logo img{width: 186px;}
    .login-right{height: auto !important;}
    .login-form{padding: 40px 30px;margin-left: 0;max-width: 100%;}
    .forgot-pass{text-align: center;padding-top: 30px;margin-bottom: 15px;}
    .login-btn .btn{width: 100%;padding-top: 15px;padding-bottom: 15px;font-size: 14px;letter-spacing: 0.56px;}

    .login-media{display: block;}
    .login-info{width: 100%;padding: 25px 20px;}
    .login-info h4{padding-left: 18px;padding-right: 0;} 
    .login-media .media-left{margin: 0 -5px;}
    .login-media .media-body{padding: 26px 20px 35px;text-align: center;}
    .login-media .btn{padding-top: 10px;padding-bottom: 10px;font-size: 14px;letter-spacing: 0.56px;min-width: 131px;}
    #forget-modal .modal-body .close{display: none;}
    .login-btn{padding-top: 29px;}

    .dataTables_wrapper{display: none !important;}
    .navbar{width: auto;min-width: auto;}
    #nav{position: fixed;left: 0;right: 0;bottom: 0;background-color: #343442;z-index: 99999;}
    .navbar-nav .nav-item{margin-bottom: 0;width: 50%;}
    .navbar-nav .current .nav-link::after{height: 5px;width: 100%;top: auto;right: 0;}
    .navlink-icon{position: static;margin-right: 10px;}
    .navbar-expand .navbar-nav .nav-link{padding: 16px 20px;text-align: center;min-height: 64px;}
    .notific-open .notific-bar{left: 0;width: 100%;}
    .sign-off{position: absolute;left: 0;right: 0;top: 63px;z-index: 999;padding: 0;display: none;}
    .navbar-nav{padding-top: 0;}
    .logout{padding: 26px 27px;background-color: #343442;}
    .logout a{color: #fff;}
    .user-prof{padding: 16px 24px;}

    .notific-open .vend-head{display: none;}
    .notific-open .notif-head{display: block;}
}
