@charset "UTF-8";

@font-face {
  font-family: "diageo";
  src:url("../fonts/diageo.eot");
  src:url("../fonts/diageo.eot?#iefix") format("embedded-opentype"),
    url("../fonts/diageo.woff") format("woff"),
    url("../fonts/diageo.ttf") format("truetype"),
    url("../fonts/diageo.svg#diageo") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "diageo" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "diageo" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-angle-down:before {
  content: "\61";
}
.icon-angle-left:before {
  content: "\62";
}
.icon-angle-right:before {
  content: "\63";
}
.icon-angle-up:before {
  content: "\64";
}
.icon-bell:before {
  content: "\65";
}
.icon-caret-down:before {
  content: "\66";
}
.icon-caret-left:before {
  content: "\67";
}
.icon-caret-right:before {
  content: "\68";
}
.icon-caret-up:before {
  content: "\69";
}
.icon-check:before {
  content: "\6a";
}
.icon-close:before {
  content: "\6b";
}
.icon-delete:before {
  content: "\6c";
}
.icon-distribution:before {
  content: "\6d";
}
.icon-download:before {
  content: "\6e";
}
.icon-house:before {
  content: "\6f";
}
.icon-arrow-down:before {
  content: "\74";
}
.icon-arrow-left:before {
  content: "\75";
}
.icon-arrow-right:before {
  content: "\76";
}
.icon-arrow-up:before {
  content: "\77";
}
.icon-route:before {
  content: "\70";
}
.icon-search:before {
  content: "\71";
}
.icon-settings:before {
  content: "\72";
}
.icon-sorting:before {
  content: "\73";
}
.icon-swinger:before {
  content: "\78";
}
.icon-upload:before {
  content: "\79";
}
