<section class="login-sec">
    <div class="container-login100">
        <div class="login-desk">
            <div class="desk-panel">
                <h3><strong>Bienvenido</strong> a el portal</h3>
                <div class="logo">
                    <img src="../../assets/images/login-logo.png" alt="Diaego" />
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed ornare diam, nec porttitor felis.</p>
            </div>

        </div>
        <div class="login">
            <div class="login-panel">
                <div class="login-head">
                    <h3><strong>Recuperar</strong> contraseña</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>

                <form>
                    <small *ngIf="respuesta == 'success'" class="text-success">
                      El correo ha sido enviado
                    </small>
                    <small *ngIf="respuesta == 'error'" class="text-danger">
                      {{ errorMessage }}
                    </small>
                    <div class="form-group">
                        <input [(ngModel)]="correo" type="text" placeholder="Correo" [ngModelOptions]="{standalone: true}">
                    </div>

                    <div class="form-group text-right">
                        <button type="button" (click)="recoverPassword2()">RECUPERAR</button>
                    </div>
                </form>
            </div>




        </div>
    </div>
</section>