<h2>Menu de opciones</h2>
<nav>
  <p>
    <a routerLink="login">Login</a>
  </p>
  <p>
    <a routerLink="forgot-password">Olvide contraseña</a>
  </p>
  <p>
    <a routerLink="password-confirmation">Confirmacion contraseña</a>
  </p>
  <p>
    <a routerLink="#">Not found</a>
  </p>
</nav>
